## Basics Of Python - Part 1 (Syntax, Operators, Variable, if-else)
#### Topics
1. Python basics syntax
2. Variable Declaration
3. Arithmetic Operators (+, -, *, /, //, %, **)
4. Bitwise Operators (&, |, ^, >>, <<, ~)
5. Comparison Operator (==, !=, >, <, >=, <=)
6. Assignment Operators (=, +=, -=, /=, //= etc.)
7. Logical Operators (and, or, not)
8. Identity Operators (is, is not)
9. Membership Operators (in, not in)
10. if-else

##### Note: 
1. First Clean the Evironment (Go to "Kernel" Menu --> "Restart & Clean Output"
2. To execute the code --> Click on a cell and press cntrl + enter key

# 1: Lets start Python !!

### 1.1: Hello World !!

In [1]:
#------------------------------------------------------------------------
# 1.1: Hello World !!
#------------------------------------------------------------------------
print ("Hello World !!")

Hello World !!

#### Assingment 1.1: WAP to print your name two times

### 1.2: Variable declaration and print it

In [1]:
a = 300        # Assingment; No output
print (a)    # Print the value of a
type(a)

300

int

In [5]:
b = "Shyam"    # Assingment; No output
b  # Print the value of b
type(b)

str

In [6]:
c=10.5
print(c)
type(c)

10.5

float

In [8]:
a = 300
a
b = "Shyam"
b              # Print the value of b only

'Shyam'

In [7]:
a = 300
a
b = "Shyam"
b
print ("a -->", a)      # Print the value of a
print ("b -->", b)      # Print the value of b

a --> 300
b --> Shyam

### 1.3: Error (Indentation Error)

In [9]:
 a = 20               # No error
print ("a -->", a)

a --> 20

In [12]:
# Error - unexpected indent
 a = 20               # Error
print ("a -->", a)

a --> 20

In [ ]:
 # No Error
 a = 20              # No Error
print ("a -->", a)

In [13]:
# Error - unexpected indent
a = 20
print ("a -->", a)
 b = 30              # Error
print ("b -->", b)

IndentationError: unexpected indent (<ipython-input-13-574e8eaabdd8>, line 4)

# 2: Different types of Operators

## 2.1 Arithmetic Operators (+, -, \*, /, //, %, **)

### 2.1.1: Use of + - * / %

In [14]:
#------------------------------------------------------------------------
# 2.1.1: Use of + - * / %
#------------------------------------------------------------------------
a = 220
b = 16

c = a + b       # Use of +
print (a, "+", b, "-->", c)

c = a - b       # Use of -
print (a, "-", b, "-->", c)

c = a * b       # Use of *
print (a, "*", b, "-->", c)

c = a / b       # Use of /
print (a, "/", b, "-->", c)

c = a % b       # Use of %
print (a, "%", b, "-->", c)

220 + 16 --> 236
220 - 16 --> 204
220 * 16 --> 3520
220 / 16 --> 13.75
220 % 16 --> 12

### 2.1.2: Use of / and  //

In [2]:
#------------------------------------------------------------------------
# 2.1.2: Use of / and  //
#------------------------------------------------------------------------
a = 5
b = 2

c = a / b       # Use of /
print (a, " /", b, "-->", c)

c = a // b      # Use of //
print (a, "//", b, "-->", c)

5  / 2 --> 2.5
5 // 2 --> 2

### 2.1.3: Use of ** (power)

In [16]:
#------------------------------------------------------------------------
# 2.1.3: Use of ** (power)
#------------------------------------------------------------------------
a = 9
b = 2

c = a ** b       # Use of **
print (a, "**", b, "-->", c)

9 ** 2 --> 81

## 2.2: Bitwise Operators (&, |, ~, ^, >>, <<)

### 2.2.1: Use of & (and)

In [17]:
#------------------------------------------------------------------------
# 2.2.1: Use of & (and) --> Sets each bit to 1 if both bits are 1.
#------------------------------------------------------------------------
#Example 1:
a = 0
b = 1
d = 1

c = a & b       # Use of & 
print (a, "&", b, "-->", c)

c = d & b       # Use of &
print (d, "&", b, "-->", c)

0 & 1 --> 0
1 & 1 --> 1

In [18]:
#Example 2:
a = 20
b = 10
d = 10

c = a & b       # Use of & 
print (a, "&", b, "-->", c)

c = d & b       # Use of &
print (d, "&", b, "-->", c)

20 & 10 --> 0
10 & 10 --> 10

### 2.2.2: Use of | (or)

In [19]:
#------------------------------------------------------------------------
# 2.2.2: Use of | (or) --> Sets each bit to 1 if one of two bits is 1.
#------------------------------------------------------------------------
#Example 1:
a = 0
b = 1
d = 1

c = a | b       # Use of |
print (a, "|", b, "-->", c)

c = d | b       # Use of |
print (d, "|", b, "-->", c)

0 | 1 --> 1
1 | 1 --> 1

In [20]:
#Example 2:
a = 20
b = 10
d = 10

c = a | b       # Use of |
print (a, "|", b, "-->", c)

c = d | b       # Use of |
print (d, "|", b, "-->", c)

20 | 10 --> 30
10 | 10 --> 10

### 2.2.3: Use of ~ (not)

In [21]:
#------------------------------------------------------------------------
# 2.2.3: Use of ~ (not) --> Inverts all the bits.
#------------------------------------------------------------------------
#Example 1:
a = 0
b = 1

c = ~a        # Use of ~
print ("~", a, "-->", c)

c = ~b       # Use of ~
print ("~", b, "-->", c)

~ 0 --> -1
~ 1 --> -2

In [52]:
#Example 2:
a = 20
b = 10

c = ~a        # Use of ~
print ("~", a, "-->", c)

c = ~b       # Use of ~
print ("~", b, "-->", c)

~ 20 --> -21
~ 10 --> -11

### 2.2.4: Use of ^ (xor)

In [22]:
#------------------------------------------------------------------------
# 2.2.4: Use of ^ (xor) --> Sets each bit to 1 if only one of two bits is 1.
#------------------------------------------------------------------------
#Example 1:
a = 0
b = 1
d = 1

c = a ^ b       # Use of ^
print (a, "^", b, "-->", c)

c = d ^ b       # Use of ^
print (d, "^", b, "-->", c)

0 ^ 1 --> 1
1 ^ 1 --> 0

In [ ]:
#Example 2:
a = 20
b = 10
d = 10

c = a ^ b       # Use of ^
print (a, "^", b, "-->", c)

c = d ^ b       # Use of ^
print (d, "^", b, "-->", c)

### 2.2.5: Use  >> (shift right)

In [23]:
#------------------------------------------------------------------------
# 2.2.5: Use  >> (shift right) --> Shift right by pushing copies of the leftmost 
# bit in from the left, and let the rightmost bits fall off.
#------------------------------------------------------------------------
#Example 1:
a = 1
b = 1
d = 2

c = a >> b       # Use of >>
print (a, ">>", b, "-->", c)

c = a >> d       # Use of >>
print (a, ">>", d, "-->", c)

1 >> 1 --> 0
1 >> 2 --> 0

In [24]:
#Example 2:
a = 20
b = 1
d = 2

c = a >> b       # Use of >>
print (a, ">>", b, "-->", c)

c = a >> d       # Use of >>
print (a, ">>", d, "-->", c)

20 >> 1 --> 10
20 >> 2 --> 5

### 2.2.6: Use  << (shift left)

In [ ]:
#------------------------------------------------------------------------
# 2.2.6: Use  << (shift left) --> Zero fill left shift
# Shift left by pushing zeros in from the right and let the leftmost bits fall off.
#------------------------------------------------------------------------
#Example 1:
a = 1
b = 1
d = 2

c = a << b       # Use of <<
print (a, "<<", b, "-->", c)

c = a << d       # Use of <<
print (a, "<<", d, "-->", c)

In [3]:
#Example 2:
a = 20
b = 1
d = 2

c = a << b       # Use of <<
print (a, "<<", b, "-->", c)

c = a << d       # Use of <<
print (a, "<<", d, "-->", c)

20 << 1 --> 40
20 << 2 --> 80

## 2.3: Assignment Operators (=, +=, -=, /=, //=)

### 2.3.1: Use of +=

In [25]:
#------------------------------------------------------------------------
# 2.3.1: Use of +=
#------------------------------------------------------------------------
a = 20
print ("a  =", a)

a += 10    
print ("a += 10 -->", a)

a  = 20
a += 10 --> 30

### 2.3.2: Use of -=

In [26]:
#------------------------------------------------------------------------
# 2.3.2: Use of -=
#------------------------------------------------------------------------
a = 20
print ("a  =", a)

a -= 10    
print ("a -= 10 -->", a)

a  = 20
a -= 10 --> 10

### 2.3.3: Use of *=

In [27]:
#------------------------------------------------------------------------
# 2.3.3: Use of *=
#------------------------------------------------------------------------
a = 20
print ("a  =", a)

a *= 10
print ("a *= 10 -->", a)

a  = 20
a *= 10 --> 200

### 2.3.4: Use of /= and //=

In [28]:
#------------------------------------------------------------------------
# 2.3.4: Use of /= and //=
#------------------------------------------------------------------------
a = 20
print ("\n a  =", a)

a /= 10    
print (" a /= 10  -->", a)

a = 20
print ("\n a   =", a)

a //= 10    
print (" a //= 10 -->", a)

 a  = 20
 a /= 10  --> 2.0

 a   = 20
 a //= 10 --> 2

# 3: Input from user

### 3.1: Input from user and print it

In [32]:
#------------------------------------------------------------------------
# 3.1: Input from user and print it
#------------------------------------------------------------------------
a = int(input("Enter Anything(Name/Numer): "))
print("\nYour Input is           -->",a)
print(a+5)

Enter Anything(Name/Numer): 5

Your Input is           --> 5
10

### 3.2: Concatinate two strings

In [34]:
#------------------------------------------------------------------------
# 3.2: Concatinate two strings
#------------------------------------------------------------------------
a = input("Enter First String : ")
b = input("Enter Second String: ")
c = a + b  # concatinate two strings
print("")
print(a, "+", b, "-->", c)

Enter First String : 3
Enter Second String: 4

3 + 4 --> 34

#### Re-Run the above code and input two numbers

### 3.3: Input two numbers from user and add them

In [35]:
#------------------------------------------------------------------------
# 3.3: Input two numbers from user and add them
#------------------------------------------------------------------------
a = int(input("Enter First No : "))
b = int(input("Enter Second No: "))
c = a + b
print ("")
print (a, "+", b, "-->", c)

Enter First No : 3
Enter Second No: 4

3 + 4 --> 7

### 3.4: Concatinate String and Number

#### 3.4.1 Concatinate String and Number

In [36]:
#------------------------------------------------------------------------
# 3.4.1: Concatinate String and Number 
#------------------------------------------------------------------------
c = "Ram" + 10   # Error: Different data type
print (c)

TypeError: can only concatenate str (not "int") to str

#### 3.4.2: Concatinate String and Number

In [37]:
#------------------------------------------------------------------------
# 3.4.2: Concatinate String and Number
#------------------------------------------------------------------------
c = "Ram" + "10"
print ("c -->",c)

c --> Ram10

#### 3.4.3: Concatinate String and Number

In [ ]:
#------------------------------------------------------------------------
# 3.4.3: Concatinate String and Number
#------------------------------------------------------------------------
a = 10
b = "Ram"
c = a + b         # Error: Different data type
print (a, "+", b, "-->", c)

#### 3.4.4: Concatinate String and Number

In [38]:
#------------------------------------------------------------------------
# 3.4.4: Concatinate String and Number
#------------------------------------------------------------------------
a = 10
b = "Ram"
c = str(a) + b

print (a, "+", b, "-->", c)

10 + Ram --> 10Ram

#### Assingment 3.1: WAP to add three numbers, inputs from user and print result
#### Assingment 3.2: WAP to concatinate three strings, inputs from user and print

# 4: If-Else - Conditional Checking

### 4.1: Input two numbers from user and compare them

In [39]:
#------------------------------------------------------------------------
# 4.1: Input two numbers from user and compare them
#------------------------------------------------------------------------
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
if  a > b: 
    print (a,">",b)
else:
    print (a,"<",b)

Enter First No: 5
Enter Second No: 6
5 < 6

In [40]:
a = 10
b = 20 
print (a == b)
print (a != b)

False
True

### 4.2: Check weather a number is odd or even:

In [42]:
#------------------------------------------------------------------------
# 4.2: Check weather a number is odd or even:
#------------------------------------------------------------------------
#Example 1:
n = int(input("Enter a Number: "))
if  n % 2 == 0: 
    print (n, "is even")
else:
    print (n, "is odd")

Enter a Number: 6
6 is even

In [ ]:
#Example 2:
n = int(input("Enter a Number: "))
if  n % 2 != 0: 
    print (n,"is odd")
else:
    print (n,"is even")

### 4.3: Conditional Checking - Compare strings

In [44]:
#------------------------------------------------------------------------
# 4.3: Conditional Checking - Compare strings
#------------------------------------------------------------------------
a = input("Enter First String: ")
b = input("Enter Second String: ")

if a == b: 
    print ("a == b")
elif a >= b: 
    print ("a > b")
else:
    print ("a < b")
    x=70                   # in the else block
    y=80                   # in the else block
z=90                       # Out of the else block

Enter First String: pp
Enter Second String: ss
a < b

### 4.4: Logical Operators (and, or, not)

#### 4.4.1: Use of and

In [45]:
#------------------------------------------------------------------------
# 4.4.1: Use of and
#------------------------------------------------------------------------
a = 10
b = 20

if a == 10 and b == 20: 
    print ("Accepted")
elif a >= b: 
    print ("Rejected")
else:
    print ("On Hold")

Accepted

#### 4.4.2: Use of and

In [46]:
#------------------------------------------------------------------------
# 4.4.2: Use of and
#------------------------------------------------------------------------
a = 0
b = 0 
print ("a and b -->", a and b)
print ("a  &  b -->", a & b)

a and b --> 0
a  &  b --> 0

#### Re-Run the above code with a=1 and b=0 | a=0 and b=1 | a=1 and b=1

#### 4.4.3: Use of and

In [47]:
#------------------------------------------------------------------------
# 4.4.3: Use of and 
#------------------------------------------------------------------------
a = 20
b = 10 
print ("a and b -->", a and b)
print ("a  &  b -->", a & b)

a and b --> 10
a  &  b --> 0

#### Re-Run the above code with a = 10 and b = 20 | a = 10 and b = 0 | a = 0 and b = 20 | a = 1 and b = 20

#### 4.4.4: Use of or

In [48]:
#------------------------------------------------------------------------
# 4.4.4: Use of or
#------------------------------------------------------------------------
a = 10
b = 20

if a == 20 or b == 20: 
    print ("Accepted")
else: 
    print ("Rejected")

Accepted

#### 4.4.5: Use of or

In [ ]:
#------------------------------------------------------------------------
# 4.4.5: Use of or
#------------------------------------------------------------------------
a = 0
b = 0 
print ("a or b -->", a or b)
print ("a  | b -->", a | b)

#### Re-Run the above code with a=1 and b=0 | a=0 and b=1 | a=1 and b=1

#### 4.4.6: Use of or

In [ ]:
#------------------------------------------------------------------------
# 4.4.6: Use of or
#------------------------------------------------------------------------
a = 10
b = 20 
print ("a or b -->", a or b)
print ("a  | b -->", a | b)

#### Re-Run the above code with a = 10 and b = 0 | a = 0 and b = 20 | a = 1 and b = 20

#### 4.4.7: Use of not

In [49]:
#------------------------------------------------------------------------
# 4.4.7: Use of not
#------------------------------------------------------------------------
#Example 1:
a = True
print("a     -->", a)
print("not a -->", not a)

a     --> True
not a --> False

In [ ]:
#Example 2:
a = 1
print("a     -->", a)
print("not a -->", not a)

#### Re-Run the above code with a=0 | a=10 | a=20

### 4.5: Identity Operators (is, is not)

In [50]:
#------------------------------------------------------------------------
# 4.5: Identity Operators (is, is not)
#------------------------------------------------------------------------
a = 10
b = 20
print ("a is a     -->", a is a)
print ("a is not a -->", a is not a)
print("")
print ("a is b     -->", a is b)
print ("a is not b -->", a is not b)

a is a     --> True
a is not a --> False

a is b     --> False
a is not b --> True

### 4.6: Membership Operators (in, not in)

In [51]:
#------------------------------------------------------------------------
# 4.6: Membership Operators (in, not in)
#------------------------------------------------------------------------
a = [10, 20, 30]

print ("10 in a     -->",10 in a)
print ("40 in a     -->",40 in a)

print ("")
print ("10 not in a -->",10 not in a)
print ("40 not in a -->",40 not in a)

10 in a     --> True
40 in a     --> False

10 not in a --> False
40 not in a --> True