## Day14 - Data Manipulation using Pandas - Part2 - Working with CSV

- Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures.



##### Note: 
1. First Clean the Evironment (Go to "Kernel" Menu --> "Restart & Clean Output"
2. To execute the code --> Click on a cell and press cntrl + enter key

## Key Features of Pandas
- Fast and efficient DataFrame object with default and customized indexing.
- Tools for loading data into in-memory data objects from different file formats.
- Data alignment and integrated handling of missing data.
- Reshaping and pivoting of date sets.
- Label-based slicing, indexing and subsetting of large data sets.
- Columns from a data structure can be deleted or inserted.
- Group by data for aggregation and transformations.
- High performance merging and joining of data.
- Time Series functionality.

## 4 Working with data file (csv)

### 4.1 Read csv file

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
print("type(df)-->",type(df))

df.head()  #shows top five rows of the dataset

# Try Also
#print ("\n",df.head())

In [ ]:
# To Read Excel file --> pd.read_excel()
# To Read Json  file --> pd.read_json()
# To Read HTML  file --> pd.read_html()

# Self learning: How to read data from SQL, MongoDB, Oracle, MySQL using python

### 4.2 Get the dimension of the dataset

In [ ]:
print("df.size -->", df.size)
print("df.ndim -->", df.ndim)
print("df.shape -->", df.shape)
print("Rows     -->", df.shape[0])
print("Columns  -->", df.shape[1])

### 4.3 Show top 5 rows of the dataset

In [ ]:
df.head()

# Try Also
#df.head(10)
#df.head(20)

### 4.4 Show bottom 5 rows of the dataset

In [ ]:
df.tail()

# Try Also
#df.tail(10)
#df.tail(20)


# Question: Select rowz from 51 to 60
# Answer: df.head(61).tail(10)

### 4.5 Get all column names of the dataset

In [ ]:
df.columns

# Try Also
#len(df.columns)

### 4.6 Get the statistical summary of the dataset

In [ ]:
df.describe()

### 4.7 Get the information related to the dataset

In [ ]:
df.info()

#df.columns    #Displays the column names

#df.T          #Transposes the dataset

### 4.8 Transposing the dataset

In [ ]:
df.T

### 4.9 Accessing data from dataset - Part 1 (using loc - Column Names)

In [ ]:
# Syntax --> loc[ ROW, COL_Names_in_List ]

df.loc[:, ['F1','F3','F6']].head()

# Also Try
#df.loc[10: , ['F1','F3','F6']]
#df.loc[10:100 , ['F1','F3','F6','F7']]

### 4.10 Accessing data from dataset - Part 2 (using iloc - Column position)

In [ ]:
# Syntax --> iloc[ ROW, COL_Position]

df.iloc[0:10, :5]

# Also Try
#df.iloc[10:100, :-2]
#df.iloc[20:30, 1:5]

### 4.11 To get unique values in a Column (factors)

In [ ]:
df['F1'].unique()

#len(df['F1'].unique())

#df['F4'].unique()

#len(df['F4'].unique())

### 4.10 To get unique count  in a Column

In [ ]:
df['F1'].value_counts()

#df['F5'].value_counts()

### 4.11 Selecting data using condition - part 1

In [ ]:
df[df['F4']>10]

#df[df['F4']>10].shape

#df[(df['F4']>20) & (df['F1'] == 1)].shape

#df[(df['F4']>20) | (df['F1'] == 1)].shape

### 4.12 Selecting data using condition - part 2 (using loc)

In [ ]:
df.loc[(df['F4']>20) & (df['F1'] == 1)]

#df.loc[(df['F4']>20) & (df['F1'] == 1)].shape

#df.loc[(df['F4']>10) | (df['F1'] == 0)].shape

### 4.13 Selecting data using condition - part 3 (using query)

In [ ]:
df.query('F4 > 20  & F1 == 1')

#df.query('F4 > 20  & F1 == 1').shape

#df.query('F4 > 10  | F1 == 0').shape

### 4.14 Selecting data using condition - part 4 (using eval)

In [ ]:
df[df.eval('F4 > 20  & F1 == 1')]

#df[df.eval('F4 > 20  & F1 == 1')].shape

#df[df.eval('F4 > 10  | F1 == 0')].shape

### 4.15 Get the mean of the all the columns present in the dataset

In [ ]:
df.mean()

# What is the output?
df.head(50).mean()
#df.tail(50).mean()

### 4.16 Get the correlation of the all the columns present in the dataset

In [ ]:
df.corr()

# Note
# 1. Shows the relationship between two objects (or data columns)
# 2. Correlation value lies between -1 and +1
# 3. If correlation of two columns (Features) is greater than 0.8 (or 0.85 or 0.9), 
#    then we can drop one of the column.

### 4.17 Get the maximum of each column in the dataset

In [ ]:
df.max()

### 4.18 Get the minimum of each column in the dataset

In [ ]:
df.min()

### 4.19 Get the median of each column in the dataset

In [ ]:
df.median()

### 4.20 Get the standard deviation of each column in the dataset

In [ ]:
df.std()

### 4.21 Append the dataset with the same dataset (make the vaules duplicate)

In [ ]:
print("df.shape      -->",df.shape)

temp_df = df.append(df)

print("temp_df.shape -->",temp_df.shape)
temp_df

### 4.22 Drop the duplicates present in the dataset.

In [ ]:
print("df.shape      -->", df.shape , "Before")
print(df)
temp_df = df.drop_duplicates()
print("")
print("temp_df.shape -->",temp_df.shape, " After droping duplicates")
print(temp_df)

### 4.23 IsNull: This returns true or false depending on the status of the cell

In [ ]:
df.isnull()

# Shows True where NULL are present else False

### 4.24 Aggregate of all the values which are null

In [ ]:
df.isnull().sum()

### 4.25 Drop NA values (delete rows)

In [ ]:
# Creating new sample dataset

import pandas as pd
import numpy as np

df = pd.DataFrame({"Name":["Iron-Man","Wonder-Woman","Avengers","Ramayan"],
                     "House":["Marvel","DC Comics","Marvel","Ramanand Sagar"],
                     "Salary":[np.nan, 5000, 
                              np.NaN, 2000]})

df

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df

In [ ]:
df.dropna()     # Drop those rows having any "NA"
                # But, No change in the original Data

### 4.26 Drop the columns where there are null values

In [ ]:
df

In [ ]:
df.dropna(axis = 'columns')

### 4.27 Drop the entire row and column if ALL THE VALUES are null

In [ ]:
df

In [ ]:
df.dropna(how = 'all')

### 4.28 Drop the null values where they are present

In [ ]:
df

In [ ]:
df.dropna(how = 'any') # Similar to df.dropna()

### 4.29 Fill the null values with '0'

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame([[3,np.nan,4,2],[5,2,np.nan,9],
                       [np.nan,np.nan,7,np.nan],
                       [4,np.nan,5,np.nan]],
                        columns=list('PQRS'))
df

In [ ]:
df.fillna(0)             # Fill ALL "NA" value to "0"

# Try also: To save in the dataset
#df.fillna(0, inplace= True)

In [ ]:
df

### 4.30 Replace Values

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame([[3,np.nan,4,2],[5,2,np.nan,9],
                       [np.nan,np.nan,7,np.nan],
                       [4,np.nan,5,np.nan]],
                        columns=list('PQRS'))
df

In [ ]:
# Replace the values columnwise
replaceValues = {'P':10,'Q':11,'R':12,'S':13}  

df.fillna(replaceValues, limit=1)

### 4.31 Fill null values only once

In [ ]:
df.fillna(replaceValues, limit = 1)  # Replace first NA value in every column

# Try Also
# Replace first two NA value in every column and save
#df.fillna(replaceValues, limit = 2)

### 4.32 Calculated the mean of column (ignore NA)

In [ ]:
df

In [ ]:
df['P'].mean()       # Find the mean of column 'P'

In [ ]:
df.mean()            # Find the mean of all columns

In [ ]:
df.iloc[:,[1,2]].mean()            # Find the mean of 1 and 2 column

### 4.33 Filled the missing values with the calculated mean

In [ ]:
df

In [ ]:
# Fill NA values in one columns with its "column mean"
mean1 = df['P'].mean()
print(mean1)
df['P'].fillna(mean1)

In [ ]:
df

In [ ]:
# Fill NA values in all columns with "column mean"
df.fillna(df.mean())

In [ ]:
df.describe()

### 4.35 Fill the missing values with the mean of each column

In [ ]:
# Save in the dataset
df.fillna(df.mean(), inplace= True)
df

### 4.36 Find the correlation between all the columns

In [ ]:
df.corr()

### 4.37 Saving dataframe to csv file

In [ ]:
df.to_csv("Test.csv")

# Open Test.csv

### 4.38 Converting dataframe to array

In [ ]:
df.iloc[:].values